.navbar .navbar-inner {
  border-bottom: 1px solid $navbarBorder;
  @include box-shadow(none);
}

.navbar .navbar-inner-alt {
  @include gradient-vertical(#ecf4f9, #ecf4f9);
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #d6dce8;
  @include border-radius(0 0 3px 3px);
  height: 50px;
  padding: 0;
  width: 960px;
  margin-left: -10px;
  margin-bottom: 40px;
  
  .nav {
    margin: 0;
  }
  
  li {
    line-height: 8px;
    padding: 0;
    margin-right: 0;
    text-align: center;
    
    a {
      height: 50px;
      line-height: 50px;
      padding: 0;
    }
    
    &.active > a,
    &.active > a:hover {
      background-color: $white;
      @include box-shadow(none);
      border-bottom: 2px solid $white;
      cursor: default;
    }
  }
}