<div id='someCarousel' class='carousel slide'>
  <div class='carousel-inner'>
    <div class='active item'>
      <%= image_tag '350.jpeg' %>
      <div class='carousel-caption'>
        <h4>Slide Whatever</h4>
        <p>
          This is the caption for slide one. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class='item'>
      <%= image_tag '350.jpeg' %>
      <div class='carousel-caption'>
        <h4>Slide Two</h4>
        <p>
          This is the caption for slide two. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class='item'>
      <%= image_tag '350.jpeg' %>
      <div class='carousel-caption'>
        <h4>Slide Three</h4>
        <p>
          This is the caption for slide three. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class='item'>
      <%= image_tag '350.jpeg' %>
      <div class='carousel-caption'>
        <h4>Slide Four</h4>
        <p>
          This is the caption for slide four. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
  
  <a class='carousel-control left' href='#someCarousel' data-slide='prev'>&lsaquo;</a>
  <a class='carousel-control right' href='#someCarousel' data-slide='next'>&rsaquo;</a>
</div>